/*CSS reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

/*Main rules*/
:root {
  --main-orange : rgb(200, 150, 50);
}

body {
  font-family: 'Roboto', sans-serif;
}

mark {
  background: none;
  color: var(--main-orange);
}

/*Top menu section*/
.top-menu {
  position: fixed;
  width: 100%;
  color: #fff;
}

.top-menu-container {
  padding: 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu_logo-header {
  font-size: 3rem;
  font-family: 'Bangers', cursive, sans-serif;
  font-weight: 400;
  letter-spacing: 1rem;
}

.top-menu li, ul {
  display: inline-block;
}

.top-menu a {
  text-decoration: none;
  color: inherit;
  margin: 0 1rem;
}

.top-menu a:hover {
  color: var(--main-orange);
}

/*Header section*/
header {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../resources/images/header-hero-image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.header_middle-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.header_middle-text h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

.header_middle-text p {
  font-size: 1rem;
}

.header_middle-text button {
  width: fit-content;
  background: none;
  border: 1px solid var(--main-orange);
  color: inherit;
  margin: 2em 0;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.header_middle-text button:hover {
  color: var(--main-orange);
}

.header_social {
  flex: 0;
  width: 100%;
  background: blue;
}