/*CSS reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

/*Main rules*/
:root {
  --main-orange : rgb(200, 150, 50);
  --sub-text-color: gainsboro;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--sub-text-color);
}

mark {
  background: none;
  color: var(--main-orange);
}

/*Top menu section*/
.top-menu {
  position: fixed;
  width: 100%;
  color: #fff;
}

.top-menu-container {
  padding: 0.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu_logo-header {
  font-size: 3rem;
  font-family: 'Bangers', cursive, sans-serif;
  font-weight: 400;
  letter-spacing: 1rem;
}

.top-menu li, ul {
  display: inline-block;
}

.top-menu a {
  text-decoration: none;
  color: inherit;
}

.top-menu li:nth-of-type(even) a{
  margin: 0 1rem;
}

.top-menu a:hover {
  color: var(--main-orange);
}

.top-menu_nav-open-button {
  font-size: 2rem;
  display: none;
}

/*Hero section*/
.hero-zone {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../resources/images/design/header-hero-image1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  text-align: center;
}

.hero-zone h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.hero-zone p {
  font-size: 1rem;
  color: var(--sub-text-color);
}

.hero-zone button {
  align-self: center;
  width: fit-content;
  background: none;
  border: 2px solid var(--main-orange);
  color: inherit;
  margin-top: 2em;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.hero-zone button:hover {
  color: var(--main-orange);
}

/*Social info section*/
.social-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: calc(100vh - 3rem);
  width: 100%;
  height: 3rem;
  padding: 0 10%;
  box-sizing: border-box;
  color: var(--sub-text-color);
  font-size: 1.2rem;
}

.social-info i{
  margin-right: 0.4rem;
}

.social-info i:hover{
  transform: scale(1.2);
}

.social-info i[title]{
  color: var(--main-orange);
}

/*Content section*/
.content {
  padding: 0 10%;
}

.content_article {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 0;
  background: white;
  box-shadow: 0px 0px 5px gray;
}

.content_article_preview-img {
 flex: 2;
}

.content_article_preview-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

.content_article_preview-text {
  padding: 2rem;
  flex: 3;
 }

 .content_article_preview-text h3{
  font-size: 1.5rem;
  margin-bottom: 1rem;
 }

/*Rules for low screen*/
@media screen and (max-width: 900px) {
  /*Top menu section*/
  .top-menu_nav {
    display: none;
  }

  .top-menu_nav-open-button {
    display: block;
  }

  /*Social info section*/
  .social-info {
    flex-flow: column nowrap;
  }

  /*Content section*/
  .content_article {
    flex-flow: column wrap;
  }
}